SOCIALNETWORKINGCLIENTSIDE/App_WebReferences/RegistrationService/RegistrationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registerUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="tns:ClassUserId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClassUserId">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClassRegistration">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Profname" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Userid" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Doj" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Activated" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Imgurl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Onlinestatus" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClassRegistration">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="registerUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registerUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="tns:ClassUserId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="tns:ClassUserId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="tns:ClassUserId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logOutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSessionValue">
        <s:complexType />
      </s:element>
      <s:element name="getSessionValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSessionValueResult" type="tns:ClassUserId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="tns:ClassUserId" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:ClassUserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClassUserDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="About" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Userid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Occupation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Designation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Worksfrom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Collegename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Specialization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Studentfrom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Schoolname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Schoolpassingyear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Favouritequote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Secondarymobno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Emailaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Profimgurl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Worksat" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="updateUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateUserDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="tns:ClassUserId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserDetailsResult" type="tns:ClassUserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="tns:ClassUserId" />
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uploadImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadPostImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postid" type="tns:ClassPostDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClassPostDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Postid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postcaption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postimageurl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postlink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Posttype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postlike" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLiked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNewPost" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Imgurl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="uploadPostImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uploadPostImageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registerUserSoapIn">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="registerUserSoapOut">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="logOutSoapIn">
    <wsdl:part name="parameters" element="tns:logOut" />
  </wsdl:message>
  <wsdl:message name="logOutSoapOut">
    <wsdl:part name="parameters" element="tns:logOutResponse" />
  </wsdl:message>
  <wsdl:message name="getSessionValueSoapIn">
    <wsdl:part name="parameters" element="tns:getSessionValue" />
  </wsdl:message>
  <wsdl:message name="getSessionValueSoapOut">
    <wsdl:part name="parameters" element="tns:getSessionValueResponse" />
  </wsdl:message>
  <wsdl:message name="updateUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:updateUserDetails" />
  </wsdl:message>
  <wsdl:message name="updateUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:updateUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getUserDetails" />
  </wsdl:message>
  <wsdl:message name="getUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="uploadImageSoapIn">
    <wsdl:part name="parameters" element="tns:uploadImage" />
  </wsdl:message>
  <wsdl:message name="uploadImageSoapOut">
    <wsdl:part name="parameters" element="tns:uploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="uploadPostImageSoapIn">
    <wsdl:part name="parameters" element="tns:uploadPostImage" />
  </wsdl:message>
  <wsdl:message name="uploadPostImageSoapOut">
    <wsdl:part name="parameters" element="tns:uploadPostImageResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrationWebServiceSoap">
    <wsdl:operation name="registerUser">
      <wsdl:input message="tns:registerUserSoapIn" />
      <wsdl:output message="tns:registerUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:input message="tns:logOutSoapIn" />
      <wsdl:output message="tns:logOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSessionValue">
      <wsdl:input message="tns:getSessionValueSoapIn" />
      <wsdl:output message="tns:getSessionValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateUserDetails">
      <wsdl:input message="tns:updateUserDetailsSoapIn" />
      <wsdl:output message="tns:updateUserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <wsdl:input message="tns:getUserDetailsSoapIn" />
      <wsdl:output message="tns:getUserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <wsdl:input message="tns:uploadImageSoapIn" />
      <wsdl:output message="tns:uploadImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadPostImage">
      <wsdl:input message="tns:uploadPostImageSoapIn" />
      <wsdl:output message="tns:uploadPostImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationWebServiceSoap" type="tns:RegistrationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <soap:operation soapAction="http://tempuri.org/logOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionValue">
      <soap:operation soapAction="http://tempuri.org/getSessionValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserDetails">
      <soap:operation soapAction="http://tempuri.org/updateUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction="http://tempuri.org/getUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <soap:operation soapAction="http://tempuri.org/uploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadPostImage">
      <soap:operation soapAction="http://tempuri.org/uploadPostImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationWebServiceSoap12" type="tns:RegistrationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerUser">
      <soap12:operation soapAction="http://tempuri.org/registerUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <soap12:operation soapAction="http://tempuri.org/logOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionValue">
      <soap12:operation soapAction="http://tempuri.org/getSessionValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserDetails">
      <soap12:operation soapAction="http://tempuri.org/updateUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap12:operation soapAction="http://tempuri.org/getUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadImage">
      <soap12:operation soapAction="http://tempuri.org/uploadImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadPostImage">
      <soap12:operation soapAction="http://tempuri.org/uploadPostImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationWebService">
    <wsdl:port name="RegistrationWebServiceSoap" binding="tns:RegistrationWebServiceSoap">
      <soap:address location="http://localhost/SOCIALNETWORKING/RegistrationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationWebServiceSoap12" binding="tns:RegistrationWebServiceSoap12">
      <soap12:address location="http://localhost/SOCIALNETWORKING/RegistrationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>