SOCIALNETWORKINGCLIENTSIDE/App_WebReferences/imageWebService/imageWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getImageFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getImageFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getImageFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProfilePic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:ClassUserId" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClassUserId">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClassRegistration">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Profname" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Userid" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Doj" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Activated" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Imgurl" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClassRegistration">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getProfilePicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProfilePicResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getImageFileSoapIn">
    <wsdl:part name="parameters" element="tns:getImageFile" />
  </wsdl:message>
  <wsdl:message name="getImageFileSoapOut">
    <wsdl:part name="parameters" element="tns:getImageFileResponse" />
  </wsdl:message>
  <wsdl:message name="getProfilePicSoapIn">
    <wsdl:part name="parameters" element="tns:getProfilePic" />
  </wsdl:message>
  <wsdl:message name="getProfilePicSoapOut">
    <wsdl:part name="parameters" element="tns:getProfilePicResponse" />
  </wsdl:message>
  <wsdl:portType name="imageWebServiceSoap">
    <wsdl:operation name="getImageFile">
      <wsdl:input message="tns:getImageFileSoapIn" />
      <wsdl:output message="tns:getImageFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProfilePic">
      <wsdl:input message="tns:getProfilePicSoapIn" />
      <wsdl:output message="tns:getProfilePicSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="imageWebServiceSoap" type="tns:imageWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getImageFile">
      <soap:operation soapAction="http://tempuri.org/getImageFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfilePic">
      <soap:operation soapAction="http://tempuri.org/getProfilePic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="imageWebServiceSoap12" type="tns:imageWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getImageFile">
      <soap12:operation soapAction="http://tempuri.org/getImageFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfilePic">
      <soap12:operation soapAction="http://tempuri.org/getProfilePic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="imageWebService">
    <wsdl:port name="imageWebServiceSoap" binding="tns:imageWebServiceSoap">
      <soap:address location="http://localhost/SOCIALNETWORKING/imageWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="imageWebServiceSoap12" binding="tns:imageWebServiceSoap12">
      <soap12:address location="http://localhost/SOCIALNETWORKING/imageWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>